.git
.agents
.codex
.opencode

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/.next
**/vendor

backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/bootstrap/cache/*.php

*.pptx
*.zip
*.tar
*.tar.gz
