# Node.js
node_modules/
dist/
build/
.next/
out/
*.log
.env
.vercel

# PHP / Laravel
vendor/
*.log
*.cache
.env
storage/*.key
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.zed

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/
.vscode/

# Android
.gradle/
local.properties
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/captures/
android/.idea/
android/*.iml
android/.cxx/
android/.externalNativeBuild/

